body {
  margin: 40px auto;
  max-width: 480px;
  line-height: 1.6;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns:  5fr 2fr 1fr;
  border: solid 3px;
  border-color: #444;
  border-radius: 10px;
  margin-bottom: 2px;
  padding: 5px;
}

.complete {
  color: #c4c4c4 
}

.btn {
  width: 100px;
  border: none; 
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}